body {
    font-family: Arial, sans-serif;
    background-color: #5fc1d2;
    text-align: center;
}

.container {
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 330px;
    padding: 10px;
    margin-bottom: 10px;
}

select {
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #2222c7;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}

.line {
    width: auto;
    color: blanchedalmond;
}