body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    text-align: center;
    background-color: #007acc;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    background-color: #d2bcbc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}